.o_main_navbar {
    border-bottom: 1px solid #32CD32 !important;
    background-color: #32CD32  !important;
}
#oe_main_menu_navbar {
    background-color: #32CD32  !important;
    border-bottom: 1px solid #32CD32 !important;
}
