.o_report_layout_clean{
    table.table-totals {
        thead {
            tr th:last-child {
                text-align: left !important;
            }
        }
        tbody {
            tr {
                td:first-child {
                    text-align: right !important;
                }
                td:last-child {
                    text-align: left !important;
                }
            }
        }
    }
    table {
        thead {
            tr th:first-child {
                width: auto !important;
            }
        }
    }
    .bank-box {
        width: 60% !important;
    }
}
